@font-face{
    font-family: "Caviar";
    src: url("Fonts/CaviarDreams.ttf");
}

body{
    background-color: #404046;
}

.question{
    font-family: 'Caviar';
    text-align: center;
    vertical-align: middle;
    margin: auto;
    color: white;
    font-size: 1.5vw;
    width: 100%;
    height: auto;
}